{% extends 'base.html' %}
{% block title %} 
<title> Laptop </title>
{% endblock %}

{% block content %}
<h1>Laptops</h1>
<div class = "container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for laptop in laptops %}
        <div class="col">
          <div class="card h-100" style="width:50%">
            <img src="{{ laptop.image.url }}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"></a>{{ laptop.brend }}</h5>
              <small class="text-light"><a class = " btn btn-primary">{{ laptop.price }} azn </a></small>
            </div>
            <div class="card">
              <a class="btn btn-danger" href="{% url 'details' laptop.id %}">more</a>
            </div>
          </div>
        </div>       
      {% endfor %}
    </div>
  </div>
{% endblock %}
